node_modules
.react-router/

/.cache
/build
.env
supabase

./tests/spotify.session.json
logs/


# Python
venv/
__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
instance/
**/*.db

CLAUDE.md
.claude/
.DS_Store
.cursorrules


react-router-v7-docs
tanstack-table-docs.mcp.json
.mcp.json
1.json