singleQuote: true
semi: false
tabWidth: 2
useTabs: true
printWidth: 90
arrowParens: avoid
trailingComma: es5
requirePragma: false
insertPragma: false
endOfLine: lf
bracketSpacing: true
embeddedLanguageFormatting: auto
htmlWhitespaceSensitivity: css # 'css', 'strict', 'ignore'
jsxSingleQuote: false
proseWrap: preserve # 'always', 'never', 'preserve'
vueIndentScriptAndStyle: true
experimentalTernaries: true
